.menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.menuNavegacion {
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: start;
}

.totalcompra {
    display: flex;
    justify-content: end;

}

.hamburger-white .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}
