/* Estilos para la pagina de registro */
.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(149, 245, 213);
}

.formularioRegistro {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    height: 80%;
    border: 2px solid #0a0707;
    border-radius: 10px;
    background-color: #ffffff;
    gap: 15px;
}


/* Estilos para la pagina de login */

.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(149, 245, 171);
}

.informacionLogin {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    height: 80%;
    border: 2px solid #0a0707;
    border-radius: 10px;
    background-color: #ffffff;
    gap: 20px;

}

/* Estilos para la pagina de Profile */

.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 247, 143);
}

.informacionProfile {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    height: 80%;
    border: 2px solid #0a0707;
    border-radius: 10px;
    background-color: #ffffff;
    gap: 20px;
}

/* Estilos para la pagina de notFound */

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(246, 128, 128);
}

.infoNotFound {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    height: 50%;
    border: 2px solid #0a0707;
    border-radius: 10px;
    background-color: #ffffff;
    gap: 15px;
}